-
    const navLinks = [
        {
            text: 'Home',
            link: '#header'
        },
        {
            text: 'Products',
            link: '#our-products'
        },
        {
            text: 'Features',
            link: '#benefits'
        },
        {
            text: 'Pricing',
            link: '#pricing'
        },
        {
            text: 'Request Demo',
            link: '#form'
        },
        {
            text: 'Store',
            link: '#'
        },
    ]

header.header#header
    .header__wrapper.container
        .header__logo
            img(
                src="/assets/logo-inverse.svg"
                alt="logo"
                width="216"
                height="40"
            )
        nav.header__nav
            each link in navLinks
                a.header__link(href=link.link)= link.text
