-
    let benefits = [
        {
            image: {
                src: '/assets/icons/mobile.svg',
                alt: '',
            },
            title: 'Driver App on any sceen',
            description: 'Right measurement of the fleet help you set up precise business. Our "Driver App" provides a most\n' +
                    'comprehensive solutions to the market.',
        },
        {
            image: {
                src: '/assets/icons/monitor.svg',
                alt: '',
            },
            title: 'Flexible Dispatch Board',
            description: 'Dispatch Board is the go-to dispatching software - created with carrier needs in mind. Dispatch Board will streamline day-to-day operations maximizing your time so you can focus on better loads and bigger profit.',
        },
        {
            image: {
                src: '/assets/icons/mobile.svg',
                alt: '',
            },
            title: 'Chat on drivers and dispatchers',
            description: 'We understand the importance of approaching each work integrally and believe in the power of simple and easy communication.',
        },
        {
            image: {
                src: '/assets/icons/monitor.svg',
                alt: '',
            },
            title: 'GPS Tracking',
            description: 'Keep up with demand - dispatch and track your fleet with real-time GPS, leveraging weather and traffic data to exceed your customers\' expectations.',
        },
    ]

include ../common/divider.pug

mixin benefitContent(image, title, description)
    .benefit-content
        .benefit-content__image
            img(
                src=image.src
                alt=image.alt
                width="80"
                height="80"
            )
        +divider()
        .benefit-content__title= title
        .benefit-content__description= description

section.benefits#benefits
    .benefits__item.benefits__item--first
        +backgroundImage(
            src="/assets/benefit-1-background.png"
            width="1920"
            height="660"
        )
        .overlay
        .image
            img(
                src="/assets/benefit-1.png"
                width="804"
                height="1020"
            )
        +benefitContent(benefits[0].image, benefits[0].title, benefits[0].description)
    .benefits__item.benefits__item--second
        .shadow
        .image
            img(
                src="/assets/benefit-2.png"
                width="510"
                height="420"
            )
        +benefitContent(benefits[1].image, benefits[1].title, benefits[1].description)
    .benefits__item.benefits__item--third
        .image
            img(
                src="/assets/benefit-3.png"
                width="569"
                height="432"
            )
        .image-chat
            img(
                src="/assets/benefit-3-chat.png"
                width="533"
                height="419"
            )
        +benefitContent(benefits[2].image, benefits[2].title, benefits[2].description)
    .benefits__item.benefits__item--four
        +backgroundImage.image(
            src = "/assets/benefit-4.png"
            width="1920"
            height="681"
        )
        +benefitContent(benefits[3].image, benefits[3].title, benefits[3].description)
