
mixin backgroundImage
    -
        const imgAttributes = {
            ...attributes
        }

        delete imgAttributes.class

    .background-image(
        class= attributes.class
    )
        img(
            loading="lazy"
        )&attributes(imgAttributes)


mixin backgroundPicture(path, ext, alt)
    -
        const imgAttributes = {
            ...attributes
        }

        delete imgAttributes.class

    .background-image(
        class= attributes.class
    )
        picture
            source(
                srcset=path + '.webp'
            )&attributes(imgAttributes)
            img(
                src=path + '.' + ext
                alt=alt
                loading="lazy"
            )&attributes(imgAttributes)

mixin picture(options)
    -
        const { path, ext, alt, width, height } = options || {}
    picture.picture(
        class= attributes.class
    )
        source(
            srcset= path + '.webp'
            width= width
            height= height
            type="image/webp"
        )
        source(
            srcset= path + '.' + ext
            width= width
            height= height
            type="image/" + ext
        )
        img(
            src=path + '.' + ext
            alt= alt
            width= width
            height= height
        )
