doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title OnPoint ELD
        link(
            rel="stylesheet"
            href="./index.css"
        )
        //link(
        //    rel="preload"
        //    type="image/png"
        //    fetchpriority="high"
        //    as="image"
        //    href="/assets/banner.png"
        //)
        link(
            rel="preload"
            type="image/webp"
            fetchpriority="high"
            as="image"
            href="/assets/images/banner.webp"
        )
    body
        include header/header.pug
        include banner/banner.pug
        include our-products/our-products.pug
        include benefits/benefits.pug
        include pricing/pricing.pug
        include form/form.pug
        include footer/footer.pug
