footer.footer#footer
    .footer__wrapper.container
        a.footer__logo(
            href="#header"
        )
            img(
                src="/assets/logo.svg"
                alt="logo"
            )
        .footer__contacts
            .footer__contact
                .footer__icon
                    img(
                        src="/assets/icons/sms.svg"
                    )
                span.footer__text Example@mail.ru
            .footer__contact
                .footer__icon
                    img(
                        src="/assets/icons/call.svg"
                    )
                span.footer__text +799999999999
            .footer__contact
                .footer__icon
                    img(
                        src="/assets/icons/map.svg"
                    )
                span.footer__text Address
        .footer__links
            .footer__link
                img(
                    src="/assets/icons/send-2.svg"
                )
            .footer__link
                img(
                    src="/assets/icons/youtube.svg"
                )
            .footer__link
                img(
                    src="/assets/icons/instagram.svg"
                )
